{% if hostname is defined %}
hostname {{ hostname }}
{% endif %}

{% if Loopback is defined %}

{% for port, value in Loopback.items() %}
interface Loopback{{ port }}
 ip address {{ value.ipv4 }} {{ value.netmask }}
{% endfor %}

{% endif %}

{% if interfaces is defined %}

{% for port, value in interfaces.items() %}
interface GigabitEthernet{{ port }}

{% if desc is defined %}
 description {{ value.desc }}
{% endif %}

 ip address {{ value.ipv4 }} {{ value.netmask }}
 no shutdown
{% endfor %}
{% endif %}
